<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/connection">Connection</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenue sur LE FAMEUX SITE DE E COMMERCE</h1>
        <p>Bonjour,</p>
        <p>JE VAIS TE MANIPULER ET TU VAS ACHTER TOUT CE QUE JE PROPOSES.</p>
        
    </main>
    <footer>
        <p>&copy; 2023 - Tous droits réservés.</p>
    </footer>

</body>

</html>