<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
  <title>Connection</title>
</head>
<body>
  <h1>Connection</h1>
  <form method="post" action="/connection">
=======
  <title>Connexion</title>
</head>
<body>
  <h1>Connexion</h1>
  <form method="post" action="/connexion">
>>>>>>> d7941dba4f2dc3da5458baf063c5b279f37889f0
    <p>
      <label>Email:</label>
      <input type="email" name="email" required>
    </p>
    <p>
      <label>Password:</label>
      <input type="password" name="password" required>
    </p>
    <p>
<<<<<<< HEAD
      <input type="submit" value="connection">
=======
      <input type="submit" value="Connexion">
>>>>>>> d7941dba4f2dc3da5458baf063c5b279f37889f0
    </p>
  </form>
</body>
</html>