<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <body>
    <h1>Inscription</h1>
    <form method="post" action="/inscription">
      <p>
        <label>Firstname:</label>
        <input type="text" name="firstname" required>
      </p>
      <p>
        <label>Lastname:</label>
        <input type="text" name="lastname" required>
      </p>
      <p>
        <label>Email:</label>
        <input type="email" name="email" required>
      </p>
      <p>
        <label>Password:</label>
        <input type="password" name="password" required>
      </p>
      <p>
        <input type="submit" value="Inscription">
      </p>
    </form>
  </body>
</html>